.genre-page {
  width: 100%;
  box-sizing: border-box;
}

.section-title {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin: 2rem 0 1.5rem;
}

.genre-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.genre-filter h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.genre-select {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: #b00610;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 240px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.genre-select:hover {
  background-color:  #b00610;
  transform: scale(1.05);
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .genre-select {
    width: 100%;
  }

  .movies-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .genre-filter {
    align-items: flex-start;
    text-align: left;
    padding-left: 1rem;
  }

  .genre-filter h2 {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
